extends layout.pug

block content
    h1 User Login
    - var pets = ['cat', 'dog']
    each petName in pets
        include ./includes/pet.pug

block scripts
    script(src='/jquery.js')
    script(src='/pets.js')